*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    padding: 5px;
    border: 2px solid rgb(238, 119, 8);
    border-radius: 5px;
}

.caja-texto{
    padding: 5px;
    border: 1px solid rgb(128, 11, 11);
    background-color: rgb(136, 19, 3);
    color: rgb(177, 67, 67);
}

.caja-texto:hover {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(245, 243, 241);
    color: rgb(122, 18, 4);
    border-radius: 5px;
}
